_*
*~
.ropeproject/
**/*.\pyc
settings.ini
static/
db.*
bower_components
node_modules
npm-debug.log
*/migrations

venv/
node_modules/
assets/bundles/
assets/dist/
webpack-stats.json
webpack-stats-prod.json
config.ini
dist
